body{
    margin: 0;
    background-color: rgb(7, 78, 18)
}

header{
    display: flex;
    flex: 1;
    justify-content: center;
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-style: normal;
    color:white;
    font-size: 50px;
    width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    justify-content: space-around;
}

/*.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-width: 2px;
    border-color: red;
}*/

.container{
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
}

.flex-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    background-color: rgb(0, 13, 13); 

    /*display: flex;
    flex-direction: row;
    width: 25%;
    flex: 1; */
}

h1, li{
    color: white;
}

.icons{
    display: flex;
    background-color: red;
    grid-template-rows: repeat(4, 1fr);
    
}

.flex-login{
    display: grid;
    border-width: 2px;
    border-color: rgb(249, 247, 247);
    background-color: red;
    width: 516px;
    height: 570px;
}

img{
    width: 500px;
    height: 300px;
}

.login {
    border-width: 70px;
    border-color: whitesmoke;
    border-radius: 50%;
}

